{% load static %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{%url 'index' %}">
        
        <div class="sidebar-brand-text mx-3"> Easy Ótica </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Menu Cadastros -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseCadastros"
            aria-expanded="false" aria-controls="collapseCadastros">
            <i class="fas fa-fw fa-folder"></i>
            <span>Cadastros</span>
        </a>
        <div id="collapseCadastros"
            class="collapse {% if '/cadastrar-' in request.path %}show{% endif %}">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'cadastrar-cliente' %}">Cadastrar Clientes</a>
                <a class="collapse-item" href="{% url 'cadastrar-produtos' %}">Cadastrar Produtos</a>
                <a class="collapse-item" href="{% url 'cadastrar-funcionarios' %}">Cadastrar Funcionários</a>
                <a class="collapse-item" href="{% url 'novo-usuario' %}">Cadastrar Usuários</a>
            </div>
        </div>
    </li>

    <!-- Menu Principais -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePrincipais"
            aria-expanded="false" aria-controls="collapsePrincipais">
            <i class="fas fa-fw fa-folder"></i>
            <span>Principais</span>
        </a>
        <div id="collapsePrincipais"
            class="collapse {% if '/cliente' in request.path or '/usuario' in request.path or '/listar-' in request.path %}show{% endif %}">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'cliente-index' %}">Clientes</a>
                <a class="collapse-item" href="{% url 'usuario-index' %}">Usuários</a>
                <a class="collapse-item" href="{% url 'listar-produtos' %}">Estoque</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>