{% extends 'base/base.html' %}

{% block content %}
  {% include 'partials/_alertas.html' %}
  {% for usuario in usuarios %}
    <form class="row g-3" method="POST" action="{% url 'update-usuario' id=usuario.id %}">
      {% csrf_token %}
      {{ form.as_p }}

      <div class="col-md-6">
        <label for="nome_usuario" class="form-label">Nome usuário</label>
        <input type="text" name="nome_usuario" class="form-control" id="nome_usuario" value="{{ usuario.nome_usuario }}" required />
      </div>

      <div class="col-md-3">
        <label for="login" class="form-label">E-mail</label>
        <input type="email" name="login" class="form-control" id="login" value="{{ usuario.login }}" required />
      </div>

      <div class="col-md-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" name="senha" class="form-control" id="senha" value="{{ usuario.senha }}" required />
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary mt-2">Atualizar</button>
      </div>
    </form>
  {% endfor %}
{% endblock %}
