{% extends 'base/base.html' %}

{% block content %}
  {% include 'partials/_alertas.html' %}

  <form class="row g-3" method="POST" action="#">
    {% csrf_token %}
    {{ form.as_p }}

    {% for usuario in usuarios %}
      <div class="col-md-3">
        <label for="nome_usuario" class="form-label">Nome usuário</label>
        <input type="text" name="nome_usuario" class="form-control" id="nome_usuario" value="{{ usuario.nome_usuario }}" required disabled />
      </div>

      <div class="col-md-3">
        <label for="login" class="form-label">E-mail</label>
        <input type="email" name="login" class="form-control" id="login" value="{{ usuario.login }}" required disabled />
      </div>

      <div class="col-md-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" name="senha" class="form-control" id="senha" value="{{ usuario.senha }}" required disabled />
      </div>

      <div class="col-3">
        <label for="status_usuario">Status</label>
        <select name="status_usuario" id="status_usuario" class="form-control" required disabled>
          <option value="ativo" {% if usuario.status_usuario == 'ativo' %}selected="selected"{% endif %}>Ativo</option>
          <option value="inativo" {% if usuario.status_usuario == 'inativo' %}selected="selected"{% endif %}>Inativo</option>
        </select>
      </div>

      <div class="col-12">
        <a href="{% url 'editar-usuario' id=usuario.id %}" type="submit" class="btn btn-primary mt-2">Editar</a>
      </div>
    {% endfor %}
  </form>
{% endblock %}
